<html>
  <head>
    <title>$i18n.getText("fecruircbot.repository.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$base-url">
    $webResourceManager.requireResource("com.github.j5ik2o.fecru-irc-bot:repository-resources")
  </head>
  <body>
  	<h1>$i18n.getText("fecruircbot.repository.label")</h1>
    <form id="repository" class="aui">
    <input type="hidden" id="key" name="key" value="$key"/>
      <div>
        <label for="enable">$i18n.getText("fecruircbot.repository.enable.label")</label>
        <input type="checkbox" id="enable" name="enable">
      </div>
      <div>
        <label for="notice">$i18n.getText("fecruircbot.repository.notice.label")</label>
        <input type="checkbox" id="notice" name="notice">
      </div>
      <div>
        <label for="channelName">$i18n.getText("fecruircbot.repository.channelName.label")</label>
        <input type="text" id="channelName" name="channelName" class="text">
      </div>
      <div>
        <input id="submit" type="submit" value="$i18n.getText("fecruircbot.repository.save.label")" class="button">
      </div>
    </form>
  </body>
</html>